</div>

<footer class="bg-info text-center text-lg-start navbar-fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4">

        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0 ">Links</h5>
  
          <ul  class="list-unstyled">
            <li style="display: inline; margin-right: 10px">
              <a href="#!" class="text-dark">Google</a>
            </li>
            <li style="display: inline; margin-right: 10px">
              <a href="#!" class="text-dark">Facebook</a>
            </li>
            <li style="display: inline; margin-right: 10px">
              <a href="#!" class="text-dark ">Instagram</a>
            </li>
            <li style="display: inline; margin-right: 10px">
              <a href="#!" class="text-dark">Twitter</a>
            </li>
          </ul>
        </div>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="">Akash</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>


